@model MyWeb.ViewModel.Post.PostSearchRequest

<div id="advanceSearch" class="panel-collapse collapse">
    @using (Ajax.BeginForm("ListAjax", "Post", new { area = "Management" },
      new AjaxOptions
      {
          HttpMethod = "POST",
          InsertionMode = InsertionMode.Replace,
          UpdateTargetId = "postList",
          OnComplete = "onComplete",
          OnSuccess = "AjaxForm.ResetButton('postSearchButton')",
          OnFailure = "AjaxForm.ResetButton('postSearchButton')"
      }, new { @class = "", id = "postSearchForm" }))
    {
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.Keyword, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.CategoryId, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.CreatorId, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.CreatorId, Model.Creators, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                    @Html.EnumDropDownListFor(m => m.IsActive, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-2">
                <label>&nbsp;</label>
                <button type="button" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'postSearchForm')" id="postSearchButton"
                        data-loading-text="@Resources.PersianResources.Sending" class="btn btn-primary btn-md width-100">
                    <i class="fa fa-search append-icon"></i>
                    @Resources.PersianResources.Search
                </button>
            </div>

        </div>
    </div>
    }
</div>